@media screen and (max-width: 600px) {
  .header-text {
font-size: 18px;
line-height: 1.7;
letter-spacing: -0.5px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
    color: black;
  }
  
  .image {
   width: 300px;
    height: 270px;
  }

  header {
    column-gap: 30px;
    margin-top: 28px;
  }

  .grid-3-cols {
    column-gap: 30px;
  }

  .btn {
    padding: 12px;
    font-size: 2px;
  }

  a {
    font-size: 12px;
  }

  h2 {
    font-size: 25px;
  }

.features-title {
  margin-bottom: 13px;
  font-size: 17px;
}

.features-text {
  font-size: 15px;
  line-height: 1.7;
}
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 25px;
    color: black;
  }
  
  .image {
   width: 300px;
    height: 270px;
  }

  header {
    column-gap: 30px;
    margin-top: 28px;
  }

  .grid-3-cols {
    column-gap: 30px;
  }

  .btn {
    padding: 12px;
    font-size: 2px;
  }

  a {
    font-size: 12px;
  }

  h2 {
    font-size: 25px;
  }

.features-title {
  margin-bottom: 13px;
  font-size: 17px;
}

.features-text {
  font-size: 15px;
  line-height: 1.7;
}
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 20px;
    color: black;
  }
  
  .image {
   width: 290px;
    height: 260px;
  }

  header {
    column-gap: 27px;
    margin-top: 24px;
  }

  .grid-3-cols {
    column-gap: 25px;
  }

  .btn {
    padding: 10px;
    font-size: 2px;
  }

  a {
    font-size: 10px;
  }

  h2 {
    font-size: 20px;
  }

.features-title {
  margin-bottom: 13px;
  font-size: 15px;
}

.features-text {
  font-size: 15px;
  line-height: 1.7;
}
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 18px;
    color: black;
  }
  
  .image {
   width: 280px;
    height: 250px;
  }

  header {
    column-gap: 26px;
    margin-top: 25px;
  }

  .grid-3-cols {
    column-gap: 28px;
  }

  .btn {
    padding: 12px;
    font-size: 2px;
  }

  a {
    font-size: 12px;
  }

  h2 {
    font-size: 25px;
  }

.features-title {
  margin-bottom: 13px;
  font-size: 17px;
}

.features-text {
  font-size: 15px;
  line-height: 1.7;
}
}